@font-face {
  font-family: "Crang";
  src: url("/assets/Crang.ttf");
}
body {
  font-family: "Crang", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#app {
  border: solid 1px white;
  margin-top: 50px;
}
