@font-face {
  font-family: "Crang";
  src: url("/assets/Crang.ttf");
}
body {
  font-family: "Crang", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
@media only screen and (min-width: 1000px) {
  #app {
    margin-top: 50px;
  }
}
